body{
    color:rgb(61, 26, 3);
    background-color:rgb(248, 213, 168);
    text-align: center;
}
h4{
    display:inline-block;
    width: 280px;
    height:25px;
    text-align:center;
    margin-left: 15px;
    margin-right: 15px; 
    background-color:rgb(226, 145, 74);
    color:rgb(82, 41, 3);
    font-size: 18px;
}
h4 a{
    color:rgb(61, 26, 3);
    font-feature-settings:normal;
    text-decoration:underline rgb(226, 145, 74) 0px;
}
h1{
    text-align: center;
    font-size: 40px ;
    font-weight: 800;
}
.foto{
    display: inline-block;
    
}
h5 {
    display: inline-block;
    width: 1000px;
    height: 190px;
    background-color: rgb(207, 160, 117);
    font-size: 23px;
}
h5 div{
    display:inline-block;
    text-align: center;

}
p{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    text-align:left;

    
}