BODY{
    text-align:center;
    color: rgb(78, 33, 6);
    background-color: rgb(246, 220, 177);
}
div{
    display: inline-block;
    background-color:rgb(231, 194, 125);
    width: 45%;
    height: 500px;
    line-height: 25px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    
}
